body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding-top: 70px;
}

h1, h2 {
    color: #b92c2f;
    text-align: center;
}

#filterForm {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 8px;
}

#filterForm input, 
#filterForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #b92c2f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #991f21;
}

button:focus {
    outline: none;
}

#tasksList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 30px auto;
    max-width: 800px;
}

.task-item {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #f5c2c7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.task-title {
    font-size: 16px;
    font-weight: 600;
    color: #9c2d2f;
    margin-bottom: 15px;
    text-align: center;
}

.task-section {
    margin-bottom: 15px;
}

.task-section h5 {
    font-size: 16px;
    font-weight: bold;
    color: #9c2d2f;
    margin-bottom: 5px;
}

.task-description, 
.task-status, 
.task-due-date {
    font-size: 14px;
    color: #555;
    max-width: 100%;
}

.task-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.task-actions button {
    padding: 8px 15px;
    font-size: 14px;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

a button {
    margin: 20px auto;
    display: block;
    background-color: #28a745;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    text-align: center;
    border: none;
}

a button:hover {
    background-color: #218838;
}

.task-name, 
.task-description, 
.tas
